@import "mixins";

.streams__chat {
  --mainChat-display: none;
  display: var(--mainChat-display);
  background: var(--bg-secondary-color);
  flex-direction: column;
  float: right;
  width: 350px;
  min-width: 300px;
  z-index: 1;
}

.chat__setting--chat {
  @include chat-setting;
}

.chat__setting--settings {
  @include chat-setting;
  margin-bottom: 0.5em;
  max-width: 20em;
}


.chat__container, .chat__iframe, .chat__iframe--main {
  @include display-flex;
  flex: 1 1 auto;
}
