@import "mixins";

.streams__chat {
  --mainChat-display: none;
  display: var(--mainChat-display);
  background: var(--bg-secondary-color);
  flex-direction: column;
  float: right;
  width: 350px;
  min-width: 300px;
  z-index: 1;
}

.chat__setting {
  @include display-flex;
  background: var(--bg-primary-color);
  height: 2.8em;
  min-height: 2.8em; //Fix height issue on resize
}

.chat__container {
  height: 100%;
}

.chat__iframe {
  width: 100%;
  height: 100%;
}
