@mixin display-flex {
  display: -webkit-flex;
  display: flex;
}

@mixin align-items-center {
  -webkit-align-items: center;
  align-items: center;
}

@mixin justify-content-center {
  -webkit-justify-content: center;
  justify-content: center;
}

@mixin justify-content-left {
  -webkit-justify-content: left;
  justify-content: left;
}


@mixin nav-input-text-color {
  color: var(--nav-text-color);
  opacity: 0.6;
}

@mixin nav-placeholder-color {
   color: var(--text-secondary-color);
   transition: all 0.2s;
}

@mixin text-color {
  color: var(--dark-grey-color);
}

@mixin modal {
  margin: auto;
  //position: absolute;
  z-index: 11;
  max-width: 24em;
  background: var(--light-grey-color);
  text-align: center;
  pointer-events: auto;
}

@mixin normal-text {
  font-size: 1.1em;
  font-weight: normal;
}

@mixin overwriteBrowserStyles {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

@mixin button {
  @include overwriteBrowserStyles;
  font-family: 'Open Sans', sans-serif;
  background: var(--accent-color);
  color: var(--nav-text-color);
  padding: var(--input-padding);
  text-decoration: none;
  font-size: var(--input-font-size);
  font-weight: 400;
  border: 0;
  cursor: pointer;
  align-items: center;
  user-select: none;
  display: block;
  transition: background 0.15s ease-in-out;
  &:hover {
    background: var(--accent-secondary-color)
  }
}

@mixin input {
  @include overwriteBrowserStyles;
  -moz-appearance: none;
  font-family: 'Open Sans', sans-serif;
  background: var(--bg-primary-color);
  margin-right: var(--nav-padding);
  margin-left: 0;
  font-size: var(--input-font-size);
  border: 0;
  padding: var(--input-padding);
  border-radius: 0;
  color: var(--nav-text-color);
}

@mixin select {
  @include overwriteBrowserStyles;
  @include display-flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: var(--nav-text-color);
  padding: 0.5em;
  width: 100%;
  margin: 0;
  border: 0;
  background: var(--bg-primary-color);
  height: 2.8em;
  box-sizing: border-box;
  &:hover {
    background: var(--bg-primary-color);
  }
  .select__option {
    background: var(--bg-secondary-color);
    padding: var(--nav-padding);
    &:hover {
      background: var(--bg-secondary-color);
    }
  }
}

@mixin dropdown-container {
  position: relative;
  //width: 12em;
  &:after {
    content: "▼";
    color: var(--nav-text-color);
    position: absolute;
    z-index: 1;
    text-align: center;
    pointer-events: none;
    height: 50%;
    overflow: auto;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0.75em;
  }
}

@mixin search {
  @include overwriteBrowserStyles;
  max-width: 10em;
  user-select: text;
  cursor: text;
  color: var(--input-color);
}

@mixin heading {
  font-size: 2.25em;
  font-weight: 800;
  margin: 0;
  letter-spacing: 2px;
  color: var(--nav-text-color);
}

@mixin link {
  color: var(--accent-color);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
  &:visited {
    text-decoration: none;
  }
  &:hover {
    color: var(--accent-secondary-color);
  }
}

@mixin chat-setting {
  @include display-flex;
  background: var(--bg-primary-color);
  height: 2.8em;
  min-height: 2.8em; //Fix height issue on resize
}

@mixin searchform {
  @include display-flex;
  flex-wrap: wrap;
}

@mixin stream-flex {
  @include display-flex;
  flex: 1 1 auto;
  box-sizing: border-box;
}
