@import "mixins";

.modal--welcome {
  @include modal;
}

.modal--return {
  @include modal;
}

.modal--help {
  @include modal;
}

.modal--offline {
  @include modal;
}

.controller__modals {
  @include display-flex;
  @include align-items-center;
  @include justify-content-center;
  position: absolute;
  z-index: 9;
  height: 100vh;
  width: 100vw;
  text-align: center;
  pointer-events: none;
}

.modal__header {
  background: var(--bg-primary-color);
  padding: var(--input-padding);
}

.header__title {
  color: var(--nav-text-color);
  font-size: 1.5em;
  margin: 0;
}

.modal__buttons {
  @include display-flex;
}

.modal__content {
  @include display-flex;
  @include align-items-center;
  @include justify-content-center;
  flex: 1 1 auto;
  padding: 1em 1.5em;
  flex-direction: column;
}

.content__text {
  @include normal-text;
  flex-wrap: wrap;
  color: var(--dark-grey-color);
}
