nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: $content-padding/2;
    flex: 1 auto;
    color: $white;
    background: $purple-light;
    input {
        max-width: 10em;
    }
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .nav-right {
      button {
        margin: 0 0.5em;
      }
    }
  }