:root {
  --accent-color: #F39C12;
  --nav-text-color: #FFFFFF;
  --nav-padding: 0.5em;
  --nav-background-color: #4D5481;
  --text-primary-color: #212121;
  --text-secondary-color: #757575;
  --bg-primary-color: #474D73;
  --bg-secondary-color: #5C6391;
  --light-grey-color: #EFEFEF;
  --dark-grey-color: #404040;
  --input-color: #d0d0d0;
  --input-font-size: 1em;
  --input-padding: 0.5em 1.5em;
  --streamContainer-flexDir: row;
  --streams-flexDir: column;
  --stream-width: initial;
  --navButton-bg-color: #FF9800;
  --navBar-display: flex;
  --navToggle-top: 2.9em;
  --mainChat-display: none;
  --mainChatButton-display: none;
  --mainChatButton-right: 350px;
  --mainChatButton-top: 2.9em;
  --allChatButton-display: none;
  --chat-display: none;
  --chat-height: 70%;
  --chat-width: 100%;
  --settings-display: none;
  --settings-top: 3em;
  --settings-height: calc(100vh - 3em);
  --overlay-display: none;
  --overlay-opacity: 0;
  --modal-display: none;
}

@import 'partials/nav';
@import 'partials/chat';
@import 'partials/streams';
@import 'partials/menu';
@import 'partials/media-queries';
@import 'partials/modal';

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  #controller {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Open Sans', sans-serif;
    background: var(--bg-primary-color);
    margin-right: var(--nav-padding);
    margin-left: 0;
    font-size: var(--input-font-size);
    border: 0;
    padding: var(--input-padding);
    border-radius: 0;
    color: var(--nav-text-color);
  }
  button {
    font-family: 'Open Sans', sans-serif;
    background: var(--accent-color);
    color: var(--nav-text-color);
    padding: var(--input-padding);
    text-decoration: none;
    font-size: var(--input-font-size);
    margin-left: 0.5em;
    border: 0;
    cursor: pointer;
    display: block;
  }
  h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.25em;
    font-weight: 700;
    margin: 0;
    letter-spacing: 2px;
    padding-right: var(--nav-padding);
    color: var(--nav-text-color);
  }
  button {
    cursor: pointer;
    margin-right: 0.5em;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    .search {
      max-width: 10em;
      user-select: text;
      cursor: text;
      color: var(--input-color);
    }
    input, button {
      margin-left: 0;
    }
  }
  a {
    color: var(--accent-color);
    font-weight: 600;
    text-decoration: none;
    &:visited {
      text-decoration: none;
    }
  }
}

#intro {
  display: flex;
  align-self: center;
  align-content: center;
  flex-wrap: wrap;
  color: var(--nav-text-colo);
  text-align: left;
  position: absolute;
  max-width: 50em;
  padding: 0.5em;
  z-index: 1;
  .instructions {
    font-weight: 500;
  }
  p {
    font-size: 1.1em;
    font-weight: 300;
  }
  a {
    color: var(--nav-text-color);
    text-decoration: underline;
  }
}
