<!DOCTYPE html>
<html ng-app="multistreamApp">
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script type="text/javascript" src="scripts/retrieve.js"></script>
      <link href="style/main.css" rel="stylesheet">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Manytwitch</title>
    </head>
    <div id="controller" ng-controller="multistreamController" data-ng-init="getParam()">
      <body>
        <nav id="navBar">
          <section id="nav-container">
            <form ng-submit="addStream()">
              <input type="text" ng-model="input" name="" value="" placeholder="Twitch Channel" required>
              <button id="getTwitch" href="">ADD</button>
            </form>
            <button id="toggleChat" href="" ng-click="setChat()"> {{ chatButton }} </button>
            <select name="availableChats" ng-model="availableChats" ng-change="getMainChat()">
              <option value="">-Select Chat-</option>
              <option ng-repeat="stream in streamList" value="{{stream.channel}}" ng-selected="availableChats == stream.channel">{{stream.channel}}</option>
            </select>
            <!-- <button ng-click="selectChat()">Schat</button> -->
            <button id="layout1" href="" ng-click="changeLayout('layout1')"> Layout1 </button>
            <button id="layout2" href="" ng-click="changeLayout('layout2')"> Layout2 </button>
            <ul id="streamList">
              <li ng-repeat="stream in streamList track by $index">
                <p> {{ stream.channel }} </p>
                <a class="{{stream.channel}}" ng-click="refreshStream($event)">R</a>
                <a class="{{stream.channel}}" ng-click="toggleStreamChat($event)">C</a>
                <a class="close" ng-click="deleteStream()">X</a>
              </li>
            </ul>
          </section>
        </nav>
        <button id="navToggle" type="button" name="button" ng-click="toggleNav()"> {{ navToggle }} </button>
        <section id="stream-container">
          <section class="stream" ng-repeat="stream in streamList track by $index">
            <section class="player">
              <iframe ng-src="{{trustSrc(stream.player)}}"
                      id="{{stream.channel}}player"
                      frameborder="0"
                      scrolling="no"
                      allowfullscreen="true">
              </iframe>
            </section>
            <section class="chat" id="{{stream.channel}}chat">
              <iframe ng-src="{{trustSrc(stream.chat)}}"
                      frameborder="0"
                      scrolling="no"
                      width="20%">
              </iframe>
            </section>
          </section>
          <section id="mainChat">
            <iframe ng-src="{{trustSrc(mainChatUrl)}}"
                    frameborder="0"
                    scrolling="no"
                    width="20%">
            </iframe>
          </section>
        </section>
      </body>
    </div>
</html>
