<!DOCTYPE html>
<html ng-app="multistreamApp">
    <head>
      <script src="scripts/angular.min.js"></script>
      <script type="text/javascript" src="scripts/manytwitch.js"></script>
      <link href="style/main.css" rel="stylesheet">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
      <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
      <link rel="manifest" href="favicons/manifest.json">
      <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="theme-color" content="#ffffff">

      <title>Many Twitch</title>
    </head>
    <div id="controller" ng-controller="multistreamController" data-ng-init="getParam()">
      <body>
        <nav id="navBar">
          <section id="nav-container">
            <form ng-submit="addStream()">
              <input type="text" ng-model="input" name="" value="" placeholder="Twitch Channel" required>
              <button id="getTwitch" href="">ADD</button>
            </form>
            <button class="layoutButton" href="" ng-click="changeLayout('grid')"> Layout Grid</button>
            <button class="layoutButton" href="" ng-click="changeLayout('column')"> Layout Column</button>
            <ul id="streamList">
              <li ng-repeat="stream in streamList track by $index">
                <p> {{ stream.channel }} </p>
                <a ng-click="refreshStream($event)"><img class="{{stream.channel}}" src="img/refresh.svg" alt="Refresh stream"></a>
                <a ng-click="deleteStream()"><img class="icon" src="img/close.svg" alt="Close stream"></a>
              </li>
            </ul>
          </section>
        </nav>
        <button id="navToggle" class="arrowButton" type="button" name="button" ng-click="toggleNav()"><img id="navIcon" ng-src="{{navIcon}}" alt="Toggle navigation bar"></button>
        <button id="allChatButton" class="arrowButton" type="button" name="button" ng-click="toggleChat()"><img id="allChatIcon" ng-src="{{allChatIcon}}" alt="Toggle all chats"></button>
        <section id="stream-container">
          <section id="streams">
            <section class="stream" ng-repeat="stream in streamList track by $index"  id="{{stream.channel}}">
              <section class="player">
                <iframe ng-src="{{trustSrc(stream.player)}}"
                        id="{{stream.channel}}player"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                </iframe>
              </section>
              <section class="chat">
                <iframe ng-src="{{trustSrc(stream.chat)}}"
                        id="{{stream.channel}}chat"
                        frameborder="0"
                        scrolling="no"
                        width="20%">
                </iframe>
              </section>
            </section>
          </section>
          <button id="mainChatButton" class="arrowButton" type="button" name="button" ng-click="toggleChat()"><img id="mainChatIcon" ng-src="{{mainChatIcon}}" alt="Toggle main chat"></button>
          <section id="mainChat-container">
            <section id="mainChat-settings">
              <select name="availableChats" ng-model="availableChats" data-ng-click="getMainChat()" ng-change="getMainChat()">
                <option value="">-Select Chat-</option>
                <option ng-repeat="stream in streamList" value="{{stream.channel}}" ng-selected="availableChats == stream.channel">{{stream.channel}}</option>
              </select>
              <a ng-click="refreshMainChat()"><img src="img/refresh.svg" alt="Refresh main chat"></a>
            </section>
            <iframe id="mainChat"
                    ng-src="{{trustSrc(mainChatUrl)}}"
                    frameborder="0"
                    scrolling="no"
                    width="20%">
            </iframe>
          </section>
        </section>
      </body>
    </div>
</html>
