@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
:root {
  --bg: #FFFFFF;
  --nav-text: #FFFFFF;
  --nav-padding: 0.5em;
  --text-primary: #212121;
  --text-secondary: #757575;
  --accent-primary: #FF5722;
  --accent-secondary: #E64A19;
  --mainChat-display: none;
  --chat-display: none;
  --chat-height: 70%;
  --chat-width: 100%;
  --streams-flexDir: column;
  --stream-width: initial;
  --navButton-bg: var(--accent-secondary);
  --navBar-display: flex; }

body {
  background: var(--bg);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  overflow: hidden; }
  body #controller {
    display: flex;
    flex-direction: column;
    height: 100vh; }

nav {
  width: 100%;
  background: var(--accent-primary);
  color: var(--nav-text);
  display: var(--navBar-display);
  height: 50px;
  margin: 0;
  visibility: visible; }
  nav #nav-container {
    padding: var(--nav-padding);
    display: flex;
    width: 100%; }
    nav #nav-container form {
      display: flex; }
    nav #nav-container input {
      margin-right: var(--nav-padding);
      border: 0;
      padding: 5px;
      color: var(--text-secondary); }
    nav #nav-container #streamList {
      float: right;
      margin: 0;
      list-style: none;
      display: flex; }
      nav #nav-container #streamList li {
        float: left;
        display: flex;
        position: relative;
        height: 1.4em;
        background: var(--accent-secondary);
        margin-left: var(--nav-padding);
        text-transform: capitalize;
        padding: 0.4em; }
        nav #nav-container #streamList li p {
          margin: 0;
          padding-right: var(--nav-padding);
          padding-top: 2px; }
        nav #nav-container #streamList li img {
          height: 1.4em; }
        nav #nav-container #streamList li .refresh {
          margin-right: 0.5em; }

#stream-container {
  background: #000000;
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  flex-direction: row;
  box-sizing: border-box; }
  #stream-container .stream {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    width: var(--stream-width);
    flex-direction: var(--streams-flexDir);
    box-sizing: border-box; }
    #stream-container .stream iframe {
      width: 100%;
      height: 100%; }
    #stream-container .stream .player {
      width: 100%;
      height: 100%; }
    #stream-container .stream .chat {
      display: var(--chat-display);
      height: var(--chat-height);
      width: var(--chat-width); }

#streams {
  flex-wrap: wrap;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  box-sizing: border-box; }

#mainChat-container {
  display: var(--mainChat-display);
  flex-direction: column;
  float: right;
  width: 350px; }
  #mainChat-container #mainChat-settings {
    display: flex;
    background: var(--accent-primary); }
    #mainChat-container #mainChat-settings a {
      display: flex;
      align-items: center;
      padding-left: 1em;
      padding-right: 1em; }
    #mainChat-container #mainChat-settings img {
      height: 1.4em; }
  #mainChat-container select {
    width: 90%;
    display: flex;
    font-size: 1em;
    color: var(--nav-text);
    padding: 0.5em;
    margin: 0;
    border: 0;
    background: var(--accent-secondary); }
  #mainChat-container iframe {
    width: 100%;
    height: 100%; }

a {
  cursor: pointer;
  margin-right: 0.5em; }

#navToggle {
  background: var(--navButton-bg);
  position: fixed;
  z-index: 5;
  left: 0;
  width: 8em;
  top: 48px;
  margin: 0; }

#toggleChat {
  width: 130px; }

button {
  background: var(--accent-secondary);
  color: var(--nav-text);
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 1em;
  margin-left: 0.5em;
  border: 0;
  cursor: pointer;
  display: block; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

/* Hide default HTML checkbox */
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

@media screen and (max-width: 45em) {
  nav #nav-container #streamList {
    display: none; }
  .layoutButton {
    display: none; } }

@media screen and (max-width: 70em) {
  nav #nav-container #streamList {
    display: none; } }
