@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

:root {
  --bg: #FFFFFF;
  --nav-text: #FFFFFF;
  --nav-padding: 0.5em;
  --text-primary: #212121;
  --text-secondary: #757575;
  --bg-primary: #FF5722;
  --bg-secondary: #E64A19;
  --mainChat-display: none;
  --chat-display: none;
  --chat-height: 70%;
  --chat-width: 100%;
  --streams-flexDir: column;
  --stream-width: initial;
  --navButton-bg: #FF9800;
  --navBar-display: flex;
  --navToggle-top: 2.9em;
  --mainChatButton-display: block;
  --mainChatButton-right: 350px;
  --mainChatButton-top: 2.9em;
  --allChatButton-display: none;
}

body {
  background: var(--bg);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  overflow: hidden;
  #controller {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

nav {
  width: 100%;
  background: var(--bg-primary);
  color: var(--nav-text);
  display: var(--navBar-display);
  height: 3em;
  margin: 0;
  visibility: visible;
  #nav-container {
    display: flex;
    width: 100%;
    form {
      display: flex;
    }
    input {
      margin-right: var(--nav-padding);
      border: 0;
      padding: 5px;
      color: var(--text-secondary);
    }
    #streamList {
      float: right;
      margin: 0;
      list-style: none;
      display: flex;
      li {
        float: left;
        display: flex;
        position: relative;
        background: var(--bg-secondary);
        margin-left: var(--nav-padding);
        text-transform: capitalize;
        padding: 0.4em;
        align-items: center;
        p {
          margin: 0;
          padding-right: var(--nav-padding);
        }
        img {
          height: 1.4em;
        }
        .refresh {
          margin-right: 0.5em;
        }
      }
    }
  }
}

#stream-container {
  background: #000000;
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  flex-direction: row;
  box-sizing: border-box;
  .stream {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    width: var(--stream-width);
    flex-direction: var(--streams-flexDir);
    box-sizing: border-box;
    iframe {
      width: 100%;
      height: 100%;
    }
    .player {
      width: 100%;
      height: 100%;
    }
    .chat {
      display:  var(--chat-display);
      height:  var(--chat-height);
      width:  var(--chat-width);
    }
  }
}

#streams {
  flex-wrap: wrap;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

#mainChat-container {
  display: var(--mainChat-display);
  flex-direction: column;
  float: right;
  width: 350px;
  #mainChat-settings {
    display: flex;
    background: var(--bg-primary);
    height: 2.6em;
    a {
      display: flex;
      align-items: center;
      padding-left: 1em;
      padding-right: 1em;
    }
    img {
      height: 1.4em;
    }
  }
  select {
    width: 90%;
    display: flex;
    font-size: 1em;
    color: var(--nav-text);
    padding: 0.5em;
    margin: 0;
    border: 0;
    background: var(--bg-secondary);
  }
  iframe {
    width: 350px;;
    height: 100%;
  }
}

a {
  cursor: pointer;
  margin-right: 0.5em;
}

.arrowButton {
  background: var(--navButton-bg);
  position: fixed;
  z-index: 5;
  margin: 0;
  img {
    height: 1.4em;
  }
}

#navToggle {
  left: 0;
  top: var(--navToggle-top);
}

#mainChatButton {
  display: var(--mainChatButton-display);
  right: var(--mainChatButton-right);
  top: var(--mainChatButton-top);
  margin: 0;
}

#allChatButton {
  display: var(--allChatButton-display);
  align-self: center;
  bottom: 0;
}

#toggleChat {
  width: 9em;
}

button {
  background: var(--bg-secondary);
  color: var(--nav-text);
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 1em;
  margin-left: 0.5em;
  border: 0;
  cursor: pointer;
  display: block;
}

@media screen and (max-width: 35em) {
  .layoutButton, #mainChatButton, #mainChat-container {
    display: none;
  }
}

@media screen and (max-height: 20em) {
  .layoutButton, #mainChatButton, #mainChat-container {
    display: none;
  }
}


@media screen and (max-width: 43em) {
  nav #nav-container #streamList {
    display: none;
  }
}

@media screen and (max-width: 70em) {
  nav #nav-container #streamList {
    display: none;
  }
}
