@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

:root {
  --bg: #FFFFFF;
  --nav-text: #FFFFFF;
  --nav-padding: 0.5em;
  --text-primary: #212121;
  --text-secondary: #757575;
  --accent-primary: #FF5722;
  --accent-secondary: #E64A19;
  --mainChat-display: none;
  --chat-display: flex;
  --chat-height: 70%;
  --chat-width: 100%;
  --streams-flexDir: column;
  --stream-width: initial;
  --navButton-bg: var(--accent-secondary);
  --navBar-display: flex;
  --mainStream-width: 100%;
}

body {
  background: var(--bg);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  overflow: hidden;
  //height: 100vh;
  //width: 100vw;
  #controller {
    //height: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

nav {
  width: 100%;
  background: var(--accent-primary);
  color: var(--nav-text);
  display: var(--navBar-display);
  margin: 0;
  visibility: visible;
  #nav-container {
    padding: var(--nav-padding);
    display: flex;
    width: 100%;
    form {
      display: flex;
    }
    input {
      margin-right: var(--nav-padding);
      border: 0;
      color: var(--text-secondary);
    }
    #streamList {
      float: right;
      margin: 0;
      list-style: none;
      display: flex;
      //padding-left: 0.5em;
      li {
        float: left;
        display: flex;
        position: relative;
        //padding: 0.5em;
        background: var(--accent-secondary);
        margin-left: var(--nav-padding);
        text-transform: capitalize;
        padding: 0.4em;
        p {
          margin: 0;
          padding-right: var(--nav-padding);
        }
        a {
          font-weight: bold;
          text-decoration: none;
          cursor: pointer;
          font-size: 1em;
          //padding: $nav-padding;
          transition: all 0.3s;
          margin-right: 0.5em;
        }
        .refresh {
          margin-right: 0.5em;
        }
      }
    }
  }
}

#stream-container {
  background: #000000;
  //flex-wrap: wrap;
  //min-height: calc(100vh - 54px);
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  flex-direction: row;
  box-sizing: border-box;
  .stream {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    width: var(--stream-width);
    flex-direction: var(--streams-flexDir);
    box-sizing: border-box;
    iframe {
      width: 100%;
      height: 100%;
    }
    .player {
      width: 100%;
      height: 100%;
    }
    .chat {
      display:  var(--chat-display);
      height:  var(--chat-height);
      width:  var(--chat-width);
    }
  }
}

#streams {
  flex-wrap: wrap;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

#mainChat {
  display: var(--mainChat-display);
  flex-direction: column;
  float: right;
  width: 350px;
  select {
    width: 100%;
    display: block;
    font-size: 1em;
    color: var(--nav-text);
    padding: 0.5em;
    margin: 0;
    border: 0;
    background: var(--accent-secondary);
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}

#navToggle {
  background: var(--navButton-bg);
  position: absolute;
  z-index: 5;
  right: 0;
  width: 8em;
}

#toggleChat {
  margin-left: 0.5em;
}

button {
  background: var(--accent-secondary);
  color: var(--nav-text);
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 1em;
  margin-left: 0.5em;
  border: 0;
  cursor: pointer;
  display: block;
}

@media screen and (max-width: 40em) {
  nav #nav-container #streamList {
    display: none;
  }
  #layout1, #layout2 {
    display: none;
  }
}

@media screen and (max-width: 50em) {
  nav #nav-container #streamList {
    display: none;
  }
}
