@import "./../../../scss/variables";
@import "./../../../scss/mixins";

#streamist {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: 1fr;
  flex-direction: column;
  align-items: center;
}


#main {
  display: flex;
  flex: 1 auto;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $black-darkest;
  &.small-interface {
      input[type="text"] {
        max-width: 6em;
    }
  }
}

*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: $blue; 
}
*::-webkit-scrollbar-thumb {
  background: $blue-medium;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: $content-padding/4 $content-padding/2;
  flex: 1 auto;
  color: $white;
  background: $black-normal;
  max-height: $nav-height;
  width: 100%;
  box-sizing: border-box;
  input[type="text"] {
      max-width: 10em;
  }
  div {
      display: flex;
      flex-direction: row;
  }
  .nav-center {
    align-items: center;
    justify-content: center;
  }
  .nav-right {
    justify-content: flex-end;
    button {
      margin: 0 0.5em;
    }
  }
  .hidden { 
    display: none;
  }
}

.small-interface {
  .menu.active {
    flex: 1 auto;
    .menu-content {
      display: flex;
      flex: 1 auto;
      .menu-item {
        display: flex;
        flex: 1 auto;
        width: initial;
      }
    }
  }
}

.nav-toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  z-index: 5;
  padding: 0.25em 1em;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
  opacity: 1;
  &:hover {
    opacity: 1;
  }
  &.fade {
    opacity: 0.25;
  }
  &.nav-visible {
    top: $nav-height;
  }
}

.intro-content {
  text-align: center;
  color: $white;
  padding: 3em 1em;
  flex: 1 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
  .intro-title {
    font-size: $title-size;
    font-weight: $title-weight;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
    margin: 0.25em 0;
  }
  .intro-subheading {
    font-size: $sub-heading-size;
    font-weight: $sub-heading-weight;
    letter-spacing: $letter-spacing;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }
  .intro-text {
    font-size: $text-size;
    font-weight: $text-weight;
  }
  .intro-streams {
    padding-bottom: 3em;
  }
  .intro-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80em;
    margin: 0 auto;
    .intro-list-item-container {
      max-width: 25em;
      width: inherit;
      flex-direction: column;
      cursor: pointer;
      margin: 0.5em;
      &:hover {
        .intro-list-item {
          background: $dark-grey;
        }
      }
      .intro-list-item-image {
        display: flex;
        flex: 1 auto;
        background: $black-dark;
        width: 100%;
        border-radius: 3px 3px 0 0;
      }
    }
    .intro-list-item {
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 0 0 3px 3px;
      @include transition(background $transition-time ease-in-out);
      .item-content {
        .stream-details{
          display: flex;
          justify-content: space-between;
          i {
            margin-right: 0.25em;
          }
          .stream-name {
            text-align: left;
            display: flex;
            align-items: center;
            color: $very-off-white;
          }
          .viewer {
            text-align: right;
            display: flex;
            align-items: center;
            color: $very-off-white;
            letter-spacing: $letter-spacing;
          }
        }
        span {
          margin: 0;
        }
      }
    }
    &.intro-list--placeholder {
      display: flex;
      flex: 1 auto;
      user-select: none;
      .list-item {
        color: transparent;
      }
    }
  }
}

.stream-chat-container {
  display: flex;
  flex: 1 auto;
  &.chat--left {
    flex-direction: row-reverse;
  }
  .placeholder {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: $tablet-width/1.5) {
  .intro-content {
    .intro-title {
      font-size: 1.4em
    }
    .intro-subheading {
      font-size: 1.1em
    }
  }
}

@media only screen and (max-width: $tablet-width) {
  #streamist {
    .nav {
      .title {
        display: none;
      }
      .channel-input input {
        max-width: 5em;
      }
      button {
        margin: 0 0.2em;
      }
    }
    .button--accent:not(.details-summary__header), .button--secondary {
      padding: 0.3em 0.5em;
    }
  }
}