.preset-listing {
  .preset-listing-edit {
    padding: 0.25em;
    margin-top: 1em;
  }
  .list {
    margin-top: 1em;
  }
  .preset-listing-item {
    margin: 0.5em 0;
    p {
      font-weight: 500;
    }
  }
}