@import "./../../../../scss/variables";

.chat-list {
  display: flex;
  flex-direction: column;
  min-width: 16em;
  .add-chat-container {
    background: $grey;
    button {
      border-radius: 0;
    }
  }
}

@media only screen and (max-width: $tablet-width) {
  .chat-list {
    width: 17em;
  }
}