@import './../../../../scss/variables';

.chat-list {
  display: flex;
  flex-direction: column;
  min-width: 16em;
  .add-chat-container {
    padding: 0.4rem;
    background: $black-normal;
    border-bottom: 1px solid $blue-medium;
    button {
      width: 100%;
      background: $accent-light;
      border-radius: $content-border-radius;
      &:hover {
        background: $accent-dark;
        color: $white;
      }
    }
  }
}

@media only screen and (max-width: $tablet-width) {
  .chat-list {
    width: 17em;
  }
}
