.streams-container {
  display: flex;
  flex: 1 auto;
  justify-content: center;
  align-items: center;
}

.streams {
  display: flex;
  flex: 1 auto;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.streams--layout-grid {
  flex-wrap: wrap;
  .stream {
    width: 50%;
  }
}

.streams--layout-column {
  flex-wrap: nowrap;
}