@import "variables";

.stream-chat {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  background: $accent-light;
  .chat-controls {
    display: flex;
    justify-content: space-evenly;
    button {
      width: 100%;
    }
  }
  iframe {
    display: flex;
    flex: 1 auto;
    background: $off-white;
  }
}