@import "./../../../scss/variables";
@import "./../../../scss/mixins";

.popular-streams {
    display: flex;
    flex-direction: column;
    .popular-streams-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        .popular-streams-item-container {
          width: inherit;
          flex-direction: column;
          cursor: pointer;
          margin: 0.5em;
          &:hover {
            .popular-streams-item {
              background: $dark-grey;
            }
          }
          .popular-streams-item-image {
            display: flex;
            flex: 1 auto;
            background: $black-dark;
            width: 100%;
            border-radius: 3px 3px 0 0;
          }
        }
        .popular-streams-item {
          margin-bottom: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          border-radius: 0 0 3px 3px;
          @include transition(background $transition-time ease-in-out);
          .item-content {
            .stream-details{
              display: flex;
              justify-content: space-between;
              i {
                margin-right: 0.25em;
              }
              .stream-name {
                text-align: left;
                display: flex;
                align-items: center;
                color: $very-off-white;
              }
              .viewer {
                text-align: right;
                display: flex;
                align-items: center;
                color: $very-off-white;
                letter-spacing: $letter-spacing;
              }
            }
            span {
              margin: 0;
            }
          }
        }
    }
    &.popular-streams--placeholder {
      user-select: none;
      color: transparent;
      .popular-streams-list {
        p, span {
          color: transparent
        }
      }
    }
}