.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1 auto;
  width: 100%;
  height: 100%;
  &--layout-grid, &--layout-grid > .draggable {
    display: grid;
  }
  &--layout-column, &--layout-column > .draggable {
    flex-wrap: nowrap;
    flex-direction: column;
    .list-item:first-of-type {
      margin-top: 0;
    }
  }
  &--layout-row, &--layout-row > .draggable {
    flex-wrap: nowrap;
    flex-direction: row;
    .list-item:first-of-type {
      margin-top: 0;
    }
  }
}

