@import "variables";
@import "mixins";

.menu-container {
  display: none;
  background: $dark;
  .menu {
    width: $menu-width;
    .menu-content {
      color: $white;
      width: $menu-width;
      button {
        width: 100%;
      }
      .button--menu {
        @include transition(box-shadow $transition-time ease-in-out, background $transition-time ease-in-out);
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: unset;
        box-shadow: 0.5em 0 0 0 $dark inset;
        outline: none;
        .menu-icon {
          margin-right: 0.5em;
        }
        &:hover {
          box-shadow: 0.5em 0 0 0 $green-dark inset;
          background: $dark-grey;
        }
        &.active {
          box-shadow: 0.5em 0 0 0 $green-light inset;
          background: $black;
        }
      }
    }
  }
  &.visible {
    display: flex;
    justify-content: center;
    align-content: flex-start;
  }
}