doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Manytwitch - Multiple Twitch Stream Viewer
    meta(name="description", content="Manytwitch is a multiple Twitch stream viewer ")
    
    link(href="https://fonts.googleapis.com/css?family=Material+Icons|Open+Sans:400,600,700,800|Noto+Sans:400,700",
      rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1")

  body
    #manytwitch