@import "./../../../scss/variables";
@import "./../../../scss/mixins";

.language-selection {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: $content-padding;
    .v-select {
        @include border-radius;
        background: grey;
        min-width: 240px;
        .vs__selected-options {
            input {
                background: $dark-grey;
            }
        }
    }
    .material-icons {
        color: $black-dark;
    }
    .vs__open-indicator {
        fill: $black-dark;
    }
    .vs__search {
        width: 100px;
        margin: 4px 2px 0px 2px;
    }
}