@import "./../../../scss/variables";
@import "./../../../scss/mixins";

.language-selection {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: $content-padding;
    .v-select {
        @include border-radius;
        background: $blue;
        min-width: 240px;
    }
    .material-icons {
        color: $white;
    }
    .vs__open-indicator {
        fill: $white;
    }
    .vs__search {
        width: 100px;
        margin: 4px 2px 0px 2px;
        color: $blue-light;
        background: $black-normal;
    }
    .vs__selected {
        color: $blue-light;
        background: $blue-medium;
    }
    .vs__dropdown-menu {
        color: $blue-light;
        background: $blue;
        li {
            color: $blue-light;
        }
    }
}