#mainChat-container {
  display: var(--mainChat-display);
  background: var(--bg);
  flex-direction: column;
  float: right;
  width: 350px;
  z-index: 1;
  #mainChat-settings {
    display: flex;
    background: var(--bg-primary);
    height: 2.8em;
    button {
      background: var(--accent);
      display: flex;
      align-items: center;
      margin: 0;
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
    img {
      height: 1.4em;
    }
  }
  select {
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    display: flex;
    font-size: 1em;
    color: var(--nav-text);
    padding: 0.5em;
    margin: 0;
    border: 0;
    background: var(--bg-secondary);
    &:hover {
      background: var(--bg-secondary);
    }
    option {
      background: var(--bg-primary);
      padding: var(--nav-padding);
      &:hover {
        background: var(--bg-secondary);
      }
    }
  }
  iframe {
    width: 350px;;
    height: 100%;
  }
}
