#settings-menu {
  display: var(--settings-display);
  position: absolute;
  left: 0;
  top: var(--settings-top);
  width: 40em;
  z-index: 5;
  height: var(--settings-height);
  background: var(--light-grey-color);
  //overflow-y: scroll;
  #settings-container {
    display: flex;
    flex-wrap: wrap;
    h2, h3, p {
      color: var(--dark-grey-color);
    }
    h2 {
      text-align: center;
      text-transform: uppercase;
      padding: 0.5em 0;
      width: 100%;
    }
    #about {
      width: 100%;
    }
    section {
      box-sizing: border-box;
      padding: calc(var(--nav-padding)*2);
      width: 50%;
      h3 {
        font-size: 1.5em;
        width: 100%;
      }
      button {
        margin-left: 0;
      }
      .search {
        max-width: 8em;
      }
      select {
        font-family: 'Open Sans', sans-serif;
        //width: 90%;
        display: flex;
        font-size: 1em;
        color: var(--nav-text-color);
        padding: 0.5em;
        margin: 0;
        margin-bottom: 0.5em;
        border: 0;
        background: var(--bg-primary-color);
        &:hover {
          background: var(--bg-primary-color);
        }
        option {
          background: var(--bg-secondary-color);
          padding: var(--nav-padding);
          &:hover {
            background: var(--bg-secondary-color);
          }
        }
      }
      .switch-container {
        display: flex;
        align-items: center;
        p {
          margin-right: 0.5em;
        }
      }
      #streamList {
        //float: right;
        margin: 0;
        margin-top: 0.4em;
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li {
          //float: left;
          width: 80%;
          display: flex;
          user-select: none;
          //position: relative;
          background: var(--bg-secondary-color);
          color: var(--nav-text-color);
          margin-left: var(--nav-padding);
          text-transform: capitalize;
          padding: 0.5em 1em;
          margin: 0.4em 0;
          align-items: center;
          span {
            height: 2em;
            width: 1.5em;
            //background: var(--nav-text-color);
            display: flex;
            justify-content: center;
            position: relative;
            display: block;
            cursor: pointer;
            margin-right: 0.5em;
            &:before {
              top: 0.6em;
              visibility: visible;
            }
            &:after {
              top: 1.4em;
            }
            &:before, &:after {
              height: 3px;
              width: 1.5em;
              background: var(--nav-text-color);
              position: absolute;
              content: "";
            }
          }
          p {
            margin: 0;
            padding-right: var(--nav-padding);
            color: var(--nav-text-color);
          }
          .stream-settings {
            flex-wrap: wrap;
            display: flex;
            margin-left: auto;
            button {
              display: flex;
              padding: 0.25em 0.5em;
            }
          }
          img {
            height: 1.5em;
          }
          .refresh {
            margin-right: 0.5em;
          }
        }
      }
    }
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  //left: 4px;
  //bottom: 4px;
  top: -0.3em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: var(--nav-background-color);
}

input:checked + .slider:before {
  background-color: var(--accent-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 4;
  background: #000;
  display: var(--overlay-display);
  opacity: var(--overlay-opacity);
  transition: opacity 0.4s;
}
