@mixin nav-text-color {
  color: var(--nav-text-color);
  opacity: 0.6;
}

@mixin nav-placeholder-color {
   color: var(--text-secondary-color);
   transition: all 0.2s;
}

nav {
  width: 100%;
  background: var(--nav-background-color);
  color: var(--nav-text-color);
  display: var(--navBar-display);
  height: 3.2em;
  margin: 0;
  z-index: 6;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  visibility: visible;
  overflow: hidden;
  #nav-container {
    display: flex;
    align-items: center;
    //width: 100%;
    button, input {
      margin-top: 0;
      margin-bottom: 0;
    }
    #clearStreams {
      display: none;
    }
    form {
      input, button {
        height: initial;
      }
    }
  }
}

#mainChatButton {
  display: var(--mainChatButton-display);
  right: var(--mainChatButton-right);
  top: var(--mainChatButton-top);
  margin: 0;
}

#right-buttons {
  position: absolute;
  //right: 1.1em;
  padding-right: 0.5em;
  right: 0;
  top: 0;
  label {
    //padding: 1.4em 1em;
    padding: 0;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    svg {
      fill: #fff;
    }
  }
}

#overlay-button {
  position: absolute;
  //left: 1em;
  left: 0;
  top: 0;
  padding: 1.35em 1em;
  z-index: 7;
  background: var(--nav-background-color);
  cursor: pointer;
  user-select: none;
  span {
      height: 2px;
      width: 35px;
      background-color: white;
      position: relative;
      display: block;
      transition: all .2s ease-in-out;
      &:before {
        top: -10px;
        visibility: visible;
      }
      &:after {
        top: 10px;
      }
      &:before, &:after {
        height: 2px;
        width: 35px;
        background-color: white;
        position: absolute;
        content: "";
        transition: all .2s ease-in-out;
      }
    }
    &:hover span, &:hover span:before, &:hover span:after {
      //background: #333332;
    }
}

#overlay-button.active {
  &:hover span, span{
    background: transparent;
  }
  span {
    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
    }
    &:after {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}


input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #overlay {
  visibility: visible;
}

input[type=checkbox]:checked ~ #overlay-button {
  &:hover span, span{
    background: transparent;
  }
  span {
    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
    }
    &:after {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

::-webkit-input-placeholder { /* Chrome */
  @include  nav-text-color;
}
:-ms-input-placeholder { /* IE 10+ */
  @include  nav-text-color;
}
::-moz-placeholder { /* Firefox 19+ */
  @include  nav-text-color;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  @include  nav-text-color;
}

input:focus::-webkit-input-placeholder {  @include nav-placeholder-color }
input:focus:-moz-placeholder {  @include nav-placeholder-color }
input:focus::-moz-placeholder { @include nav-placeholder-color }
input:focus:-ms-input-placeholder { @include nav-placeholder-color }
