@import "./../../../../scss/variables";

.menu-item {
  width: $menu-content-width;
  height: 100%;
  color: $white;
  background: $black-dark;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  z-index: 10;
  .text-sub-heading {
    margin: 0;
  }
  .menu-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $content-padding/2 $content-padding;
    //background: $black-darker;
    .text-heading {
      text-align: center;
    }
  }
  .menu-item-actions {
    padding: $content-padding;
    display: flex;
    flex: 1 auto;
    box-sizing: border-box;
    flex-direction: column;
  }
  .menu-item-content {
    height: 100%;
    padding: $content-padding;
    overflow-y: auto;
    display: flex;
    flex: 1 auto;
    box-sizing: border-box;
    flex-direction: column;
    .menu-item-row {
      p:first-child {
        margin-top: 0;
      }
    }
  }
  input {
    margin: $content-padding/4;
    width: 100%;
    box-sizing: border-box;
  }
  button {
    margin: $content-padding/4 0;
  }
  .list button {
    margin: $content-padding/4;
  }
}

@media only screen and (max-width: $tablet-width) {
  .menu-item {
    width: $menu-content-width*0.85;
  }
}

@media only screen and (max-width: $tablet-width*0.75) {
  .menu-item {
    width: $menu-content-width*0.75;
  }
}