@import url('https://fonts.googleapis.com/css?family=Poppins:500,600,700');

$white: #FEFEFE;
$off-white: #DEDEDE;
$grey: #4A4A4A;
$black: #222222;
$green-light: #1DD1A1;
$green-dark: #10AC84;
$purple-light: #8452e4;
$purple-dark: #7D48E4;

$title-size: 2.5em;
$title-weight: 700;
$heading-size: 1.25em;
$heading-weight: 600;
$sub-heading-size: 1.125em;
$sub-heading-weight: 600;
$text-size: 1em;
$text-weight: 500;
$sub-text-size: 1em;
$sub-text-weight: 500;

$transition-time: 0.25s;

$content-padding: 1em;
$content-border-radius: 3px;

@import 'partials/normalize';
@import 'partials/mixins';
@import 'partials/nav';
@import 'partials/inputs';
@import 'partials/text';

body {
  font-family: 'Poppins', sans-serif;
  background: $black;
  display: flex;
  margin: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#manytwitch {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4em 14fr;
}

#main {
  display: flex;
  flex: 1 auto;
  flex-direction: row;
  background: $black;
  .streams {
    display: flex;
    flex: 1 auto;
  }
  .chats {
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    .add-chat-container {
      background: $grey;
    }
    .stream-chat {
      display: flex;
      flex: 1 auto;
      flex-direction: column;
      background: $green-light;
      .chat-controls {
        display: flex;
        justify-content: space-evenly;
        button {
          width: 100%;
        }
      }
      iframe {
        display: flex;
        flex: 1 auto;
      }
    }
  }
  .menu-container {
    display: none;
    background: $purple-light;
    .menu {
      width: 7em;
      .menu-content {
        color: $white;
        width: 7em;
        button {
          width: 100%;
          &.active {
            background: $purple-dark;
          }
        }
      }
    }
    .menu-options {
      background: $white;
      max-width: 20em;
      .option {
        width: 20em;
        padding: $content-padding;
        color: $black;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        .text-heading {
          text-align: center;
          margin-top: 0;
        }
        input {
          padding: 0.25em 0.75em;
          margin: $content-padding/4;
          width: 100%;
          box-sizing: border-box;
        }
        button {
          margin: $content-padding/4;
        }
      }
    }
    &.visible {
      display: flex;
      justify-content: center;
      align-content: flex-start;
    }
  }
}

.stream-history {
  ul {
    padding: 0;
    margin: 0;
  }
}

.input-form {
  display: flex;  
  margin: 0;
}

.streams {
  display: flex;
  flex: 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.stream {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  position: relative;
  color: $white;
  &:hover .stream-controls {
    display: flex;
    opacity: 1;
  }
  .stream-controls {
    @include border-radius;
    position: absolute;
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: $green-light;
    padding: $content-padding/2;
    right: 1em;
    top: 1em;
    opacity: 0;
    p, button {
      margin: 0 0.25em;
    }
  }
  .stream-main {
    display: flex;
    flex-direction: row;
    flex: 1 auto;
    .stream-player {
      flex: 3 auto;
    }
    .stream-player{
      display: flex;
      iframe {
        display: flex;
        flex: 1 1 auto;
        width: 100%;
      }
    }
  }
}

.draggable {
  cursor: pointer;
}


.visible {
  display: flex !important;
}

.hidden {
  display: none !important;
}

.url {
  color: $white;
  text-decoration: underline;
  &:visited {
    color: $white;
  }
}

.stream-history {
  .history-list {
    padding-bottom: $content-padding/2;
    .history-listing {
      padding: $content-padding 0;
      border-bottom: 2px solid $off-white;
      .listing-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
          padding-right: $content-padding/2;
        }
      }
    }
  }
}

.preset-list {
  background: $white;
  list-style: none;
  padding-left: 0;
  ul {
    list-style: none;
    padding-left: 0;
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em 0;
    }
  }
  .ghost {
    background: $off-white;
  }
}

.draggable {
  user-select: none;
}

.handle {
  padding: $content-padding/2;
}

.input-container {
  margin: 0;
}