// COLOURS
$white: #FEFEFE;
$near-white: #f0f0f0;
$off-white: #e2e1e1;
$very-off-white: rgba(240, 240, 240, 0.8);
$grey: #545457;
$dark-grey: #4c4c4e;
$orange: #d35f21;
$red: #d34029;

$accent-light: #21af89;
$accent-dark: #1b9e7b;

$black-normal: #2d2e33;
$black-dark: #1e1e23;
$black-darkest: #131418;

$blue: #43485a;
$blue-medium: #63697c;
$blue-light: #e5e6ec;

// NAV
$nav-height: 3em;

// MENU
$menu-content-width: 22em;

// FONT
$title-size: 2em;
$title-weight: 700;
$heading-size: 1.25em;
$heading-weight: 700;
$sub-heading-size: 1em;
$sub-heading-weight: 600;
$text-size: 1em;
$text-weight: 400;
$sub-text-size: 1em;
$sub-text-weight: 400;

$letter-spacing: 0.025em;

// TRANSITION
$transition-time: 0.15s;

$content-padding: 1em;
$content-border-radius: 3px;

// Breakpoints
$tablet-width: 800px;