// COLOURS
$white: #FEFEFE;
$off-white: #f1f1f1;
$grey: #4A4A4A;
$dark: #353535;
$dark-grey: #2d2d2d;
$black: #222222;
$green-light: #1DD1A1;
$green-dark: #10AC84;
$purple-light: #464e6d;
$purple-dark: #3D445E;

// NAV
$nav-height: 3em;

// MENU
$menu-width: 8em;

// FONT
$title-size: 2.5em;
$title-weight: 700;
$heading-size: 1.25em;
$heading-weight: 700;
$sub-heading-size: 1.125em;
$sub-heading-weight: 600;
$text-size: 1.05em;
$text-weight: 500;
$sub-text-size: 1.05em;
$sub-text-weight: 500;

// TRANSITION
$transition-time: 0.25s;

$content-padding: 1em;
$content-border-radius: 3px;