// COLOURS
$white: #FEFEFE;
$near-white: #f0f0f0;
$off-white: #e2e1e1;
$grey: #5c5c5c;
$dark-grey: #3b3b3b;
$orange: #d35f21;
$red: #d34029;

$accent-light: #21af89;
$accent-dark: #1b9e7b;

$black-lightest: #333333;
$black-normal: #2d2d2d;
$black-dark: #2a2a2a;
$black-darker: #252525;
$black-darkest: #232323;

// NAV
$nav-height: 3em;

// MENU
$menu-width: 8em;
$menu-content-width: 22em;

// FONT
$title-size: 2.5em;
$title-weight: 700;
$heading-size: 1.25em;
$heading-weight: 700;
$sub-heading-size: 1em;
$sub-heading-weight: 600;
$text-size: 1em;
$text-weight: 500;
$sub-text-size: 1em;
$sub-text-weight: 500;

// TRANSITION
$transition-time: 0.15s;

$content-padding: 1em;
$content-border-radius: 3px;

// Breakpoints
$tablet-width: 1000px;