@import "variables";

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: $content-padding/2;
  flex: 1 auto;
  color: $white;
  background: $purple-light;
  max-height: $nav-height;
  input {
      max-width: 10em;
  }
  div {
      display: flex;
      flex-direction: row;
  }
  .nav-center {
    align-items: center;
  }
  .nav-right {
    button {
      margin: 0 0.5em;
    }
  }
}