@import "variables";
@import "mixins";

.menu {
  display: none;
  background: $black-normal;
  .menu-bar {
    .menu-bar-content {
      color: $white;
    }
  }
  .menu-content {
    background: $black-dark;
  }
  &.visible {
    display: flex;
    justify-content: center;
    align-content: flex-start;
  }
}

.button--menu {
  @include transition(box-shadow $transition-time ease-in-out, background $transition-time ease-in-out, margin $transition-time ease-in-out);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: unset;
  justify-content: flex-start;
  box-shadow: 0.4em 0 0 0 $black-normal inset;
  outline: none;
  padding: 0.9em 0.7em;
  width: 100%;
  .menu-icon {
    @include transition(margin $transition-time ease-in-out);
    margin-right: 0.5em;
  }
  .button--menu__text {
    margin: 0;
  }
  &:hover {
    box-shadow: 0.4em 0 0 0 $accent-dark inset;
    background: $black-darker;
    &.active {
      box-shadow: 0.4em 0 0 0 $accent-light inset;
      background: $black-darkest;
    }
  }
  &.active {
    box-shadow: 0.4em 0 0 0 $accent-light inset;
    background: $black-darkest;
  }
}

@media only screen and (max-width: $tablet-width) {
  .button--menu {
    padding: 0.75em 0.4em;
    .menu-icon {
      margin: 0 0.4em;
    }
    .button--menu__text {
      display: none;
    }
  }
}